body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  /* Back Button */
/* Styling for the back button */
.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  color: #36454F; /* White text */
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Animation on hover */
.back-button:hover {
  background-color: #008080; /* Ancient pink on hover */
  color: #f5f5f5; /* Teal text on hover */
  transform: scale(1.1); /* Slightly increases the size */
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* When clicked */
.back-button:active {
  transform: scale(0.95); /* Slightly decreases the size */
  background-color: #208181; /* Slightly darker ancient pink when clicked */
}


  .container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    background: linear-gradient(140deg, #f5f5f5, #008080 );

  }

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 841px;
  }

  header {
    text-align: center;
    padding-bottom: 20px;
  }

  h1 {
    font-size: 2.5em;
    margin-bottom: 5px;
  }

  .contact {
    text-align: center;
    margin-bottom: 20px;
  }

  .section {
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;

    position: relative;
    padding-bottom: 5px;
  }

  h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #000000;
    bottom: 0;
    left: 0;
  }

  .degree-date {
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  .date {
    font-size: 0.9em;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 5px;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
  }

  .skill {
    background-color: #f0f0f0;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
  }